{% extends 'base.html' %}
{% block title %}
 Actors Title
{% endblock %}
{% block content %}
 {% if ActorsList %}
     <ui>

     {% for actor in ActorsList %}
         <li>{{ actor.id }} {{ actor.actorName }} {{ actor.actorYear }}</li>
     {% endfor %}
     </ui>
 {% elif FilmList %}
     <table border="1 px black solid">
         {% for film in FilmList %}
             <tr>
                <td rowspan="2">
                    {% if film.filmPoster %}
                    <img src="{{ film.filmPoster.url}}" height="400" />
                    {% endif %}
                </td>
                 <td height="50" width="700"><b>{{ film.filmName }} </b> ({{ film.filmYear }})</td>
            </tr>
            <tr>
                <td><l> film.description</l></td>
            </tr>
         {% endfor %}
     </table>
 {% else %}
     Nothing to show
 {% endif %}
{% endblock %}