{% extends 'base.html' %}
{% block title %}
 Actors Title
{% endblock %}
{% block content %}
 {% if ActorsList %}
     <ui>

     {% for actor in ActorsList %}
         <li>{{ actor.id }} {{ actor.actorName }} {{ actor.actorYear }}</li>
     {% endfor %}
     </ui>
 {% elif FilmList %}
     {% for film in FilmList %}
         {% if film.filmPoster %}
         <img src="{{MEDIA_URL}}{{ film.filmPoster.url}}"/>
         {% endif %}
         <p>{{ film.filmName }}</p>
     {% endfor %}
 {% else %}
     Nothing to show
 {% endif %}
{% endblock %}